<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Life.Scholar</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

<!--
     Custom styles for this template 
    <link href="starter-template.css" rel="stylesheet">
-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Life.Scholar</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
	    <li class="active"><a href="#">Home</a></li>
	    <li><a href="#about">About</a></li>
	    <li><a href="#contact">Contact</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
      </div>
    </nav>

      
<br><br>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-8", id='leftpane'>
            <div class='container', id='box', background-color='#eee'> 
                <form action='/output' method="GET" id='form'>
                    <div class="form-group">
                        <br>
                        
                        <label for="ID"></label>
                            <input type="text" id="ID", name="ID" placeholder="subject, skills, or use your own sentence!">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default btn-lg", >Fetch me some courses!</button>
                        <br>
                        <br>
                    </div>
                </form> 
            </div>
        </div>
        <div class="col-sm-4", id='rightpane'>
            <div class='container', id='box2'>
                <br>
                <br>
                <p id='w2v_para'> We know Exactly what you are looking for:</p>
            </div>
        </div>
    </div>
</div>      
      
<!--
    <div id="option">
    <input name="ShowContinentButton" 
           type="button" 
           value="Show Continents" 
           onclick="showcontinents()" />
    </div>
-->
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>

<script>
    $("#box").css('background-color','rgba(240,240,240,0.9)').css('width','850px').css('position','fixed').css('top','10%').css('left','2.7%')//.css('margin-top','-'+$("#box").height()/2+'px').css('margin-left','-'+$("#box").width()/2+'px')
    $("#box2").css('background-color','rgba(240,240,240,0.9)').css('width','450px').css('position','fixed').css('top','10%').css('left','65%')//.css('margin-top','-'+$("#box").height()/2+'px').css('margin-left','-'+$("#box").width()/2+'px')
    $("#w2v_para").css('font-size','16px')
</script>    
      
<script>
    
var width = 960,
    height = 660;

var tooltip = d3.select("body")
    .append("div")
    .style("position", "absolute")
    .style("z-index", "10")
    .style("width","275px")                  
    .style("height","80px")                 
    .style("padding","2px")             
    .style("font","18px georgia-serif")
    .style("text-anchor", "middle")
    .style("border","1px")      
    .style("border-radius","2px")  
    .style("background", "#cadddd")
    .style("visibility", "hidden");

    
var svg = d3.select("#box").append("svg")
    .attr("width", width+6)
    .attr("height", height);


var circles = svg.append("svg:g")
            .attr("id", "circles");    

var scale = d3.scale.linear()
            .domain([-20,20]).range([0,660])    
    
var recommended_courses_lda = '{{ courses_lda }}';
var recommended_courses_lda = recommended_courses_lda.split('*');

var recommended_courses_w2v = '{{ courses_w2v }}';
var recommended_courses_w2v = recommended_courses_w2v.split('*');
    
var recommended_courses = recommended_courses_lda.concat(recommended_courses_w2v);
    
d3.csv("static/LDA_results_for_d3.csv", function(error, data) {
 
    circles.selectAll("dot")
        .data(data.filter(function (d) {return recommended_courses.indexOf(d.course_name) > -1 })).enter()
        .append("a")
            .attr("xlink:href", function(d) { return d.link; })
        .append("svg:circle")
            .attr("cx", function (d) { return scale(d.tsne_1); })
            .attr("cy", function (d) { return scale(d.tsne_2); })
            .attr("r", "12px")
            .attr("fill", function (d) { return d.color; })
            .attr("stroke","rgba(100,100,100,1)")
            .attr("opacity","1")

        .on("mouseover", function(d){
            tooltip.html("  "+d.course_name+"<br/># Enrollment:"+d.total_enrollment+"<br/>Rating:"+d.rating);
            tooltip.style("visibility", "visible")
            tooltip.style("font-size","18px")
            tooltip.style("top", (event.pageY-10)+"px")
            tooltip.style("left",(event.pageX+10)+"px");
        })
    .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
});

d3.csv("static/LDA_results_for_d3.csv", function(error, data) {
    circles.selectAll("dot")
        .data(data.filter(function (d) {return recommended_courses.indexOf(d.course_name)==-1 }))
        .enter()
        .append("svg:circle")
            .attr("cx", function (d) { return scale(d.tsne_1); })
            .attr("cy", function (d) { return scale(d.tsne_2); })
            .attr("r", "7px")
            .attr("fill", function (d) { return d.color; })
            .attr("stroke","rgba(250,250,250,0.5)")
            .attr("opacity","0.05")
});
//

d3.select("#box2").append("ul").selectAll("li")
    .data(recommended_courses_w2v)
    .enter().append('li')
    .html(function (d) { return d;})
    .style('font-size', '16px');

//d3.select("#box2").append("div", ".list-group").selectAll("a")
//    .data(recommended_courses_w2v)
//    .enter().append('li')
//    .html(function (d) { return d;});    
    
d3.select("#box2").append("p").selectAll("p")
    .data([1])
    .enter().append('p')
    .html('You may also like these broader couress:')
    .style('font-size', '16px');    

d3.select("#box2").append("ul").selectAll("li")
    .data(recommended_courses_lda)
    .enter().append('li')
    .html(function (d) { return d;})
    .style('font-size', '16px');

d3.select("#box2").append("br");
d3.select("#box2").append("br");
    
    
function showcontinents() {
    var arrayOfPolygons = [{
        'name':'science_continent_points',
        'points': [{'x':218,'y':153},
                      {'x':294,'y':219},
                      {'x':328,'y':315},
                      {'x':418,'y':343},
                      {'x':454,'y':391},
                      {'x':415,'y':491},
                      {'x':388,'y':541},
                      {'x':364,'y':559},
                      {'x':268,'y':488},
                      {'x':242,'y':493},
                      {'x':153,'y':413},
                      {'x':115,'y':386},
                      {'x':59,'y':304},
                      {'x':165,'y':171},
                      {'x':218,'y':153}
                   ]},
                           {
         'name':'tech_continent_points',
         'points':[{'x':218,'y':153},
                      {'x':294,'y':219},
                      {'x':328,'y':315},
                      {'x':418,'y':343},
                      {'x':454,'y':391},
                      {'x':578,'y':389},
                      {'x':609,'y':344},
                      {'x':590,'y':303},
                      {'x':558,'y':174},
                      {'x':458,'y':97},
                      {'x':331,'y':26},
                      {'x':263,'y':23}]
                    }    
    ]

    svg.selectAll('polygon')
        .data(arrayOfPolygons)
        .enter().append('polygon')
        .attr("points", function (d) {
            return d.points.map(function (d) {
                return [d.x, d.y].join(',')                     }).join(' ');
            })
        .attr('stroke','black')
        .attr('stroke-width',2)
        .attr('fill','rgba(80,120,150,0.3)')
        .attr('stroke-dasharray', ("10,3"))

    var borderPath = svg.append("text")
        .attr("x", 260)
        .attr("y", 360)
        .style("position", "absolute")
        .style("width","275px")                  
        .style("height","38px")                 
        .style("padding","0px")             
        .style("font","18   px georgia-serif")
        .style("font-weight", 'bold')
        .style("text-anchor", "middle")
        .style("border","1px")      
        .style("border-radius","2px")  
        .style("background", "#cadddd")
        .text("Science and Liberal Art Continent")

    var borderPath = svg.append("text")
        .attr("x", 420)
        .attr("y", 210)
        .style("position", "absolute")
        .style("width","275px")                  
        .style("height","38px")                 
        .style("padding","0px")             
        .style("font","18   px georgia-serif")
        .style("font-weight", 'bold')
        .style("text-anchor", "middle")
        .style("border","1px")      
        .style("border-radius","2px")  
        .style("background", "#cadddd")
        .text("Technology Continent")
    
    circles.selectAll("circle")
        .style('opacity',"0.15")
}


d3.select(self.frameElement).style("height", height + "px");
  
    
</script>